###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/.docker/mysql/volume
/.docker/.env.local
/.idea/.gitignore
/.idea/markdown.xml
/.idea/mediaCatalog.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/dataSources.xml

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###
/opt/trash/Katalog bez nazwy/Dokument bez nazwy
/opt/workdir/copy/Zaznaczenie_001.png
/opt/workdir/copy/Zaznaczenie_002.png
/opt/workdir/copy/Zaznaczenie_003.png
/opt/workdir/copy/Zaznaczenie_004.png
/opt/workdir/copy/Zaznaczenie_005.png
/opt/workdir/copy/Zaznaczenie_007.png
/opt/workdir/copy/Zaznaczenie_011.png
/opt/workdir/copy/Zaznaczenie_012.png
/opt/workdir/copy/Zaznaczenie_013.png
/opt/workdir/copy/Zaznaczenie_014.png
/opt/workdir/copy/Zaznaczenie_015.png
/opt/workdir/copy/Zaznaczenie_016.png
/opt/workdir/copy/Zaznaczenie_018.png
/opt/workdir/copy/Zaznaczenie_019.png
/opt/workdir/copy/Zaznaczenie_020.png
/opt/workdir/copy/Zaznaczenie_021.png
/opt/workdir/copy/Zaznaczenie_022.png
/opt/workdir/copy/Zaznaczenie_023.png
/opt/workdir/copy/Zaznaczenie_024.png
/opt/workdir/var/www/mediacatalog
/opt/workdir/15.png
/opt/workdir/19-03-harold-referencje-7fbd43ad,710,0,0,0.jpg
/opt/workdir/55.png
/opt/workdir/125.jpg
/opt/workdir/555.png
/opt/workdir/5151
/opt/workdir/58851.png
/opt/workdir/blik-1024x768.png
/opt/workdir/Zaznaczenie_002.png
/opt/workdir/Zaznaczenie_003.png
/opt/workdir/Zaznaczenie_004.png
/opt/workdir/Zaznaczenie_005.png
/opt/workdir/Zaznaczenie_006.png
/opt/workdir/Zaznaczenie_007.png
/opt/workdir/Zaznaczenie_008.png
/opt/workdir/Zaznaczenie_009.png
/opt/workdir/Zaznaczenie_010.png
/opt/workdir/Zaznaczenie_011.png
